<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./stylesheets/feedbackStyle.css"/>
        <title>밥먹다</title>
    </head>
    <script>
        function agree(e){
            // alert('작동');
            var parent =e.previousSibling.previousSibling.previousSibling;
            var childData = [];
            var child = parent.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling;
            childData.push(child.innerText);
            // alert(childData);
            document.write('<form action="/feedback/feedback_agree" id="smb_form" method="post"><input type="hidden" id="childData" name="num" value="'+ childData +'"></form>');
            document.getElementById("smb_form").submit();
        }
    </script>
    <body>
        <!-- 이용자 !== 관리자 -->
        <div class="up">
          <div class="top">
                <span><button id="suggestion" onclick="location.href='/main'">급식 건의</button></span>
                <span><button id="monthly" onclick="location.href='/monthly'">이달의 급식</button></span>
                <span><button id="logout" onclick="location.href='/main/logout'">LOGOUT (<%= userEmail %>)</button></span> 
              <div id="logo"> 
                    <img src="/images/title.png" style="width: 50%; margin-left: 25%;">
                  </div>
          </div>
        </div>
        <div class="down">
            <div class="box">
                <% list.forEach(function(val){ %>
                <div style="color: #ffffff;" id="feedback_id" name='1'><%=val.feedback_id%></div>
                <div  name='2' style="margin-left: 10%; margin-right: 10%; margin-top: 5%; margin-bottom: 5%; font-size: 24px; font-weight: bolder; color: #592A1D"><%=val.title%></div>
                    <div id="otherBox" name='3'>
                        <div style="width: 40%; left: 10%; float: left;">
                            <a style="color: #592A1D;">작성자 : <%=val.user_id%></a>
                        </div>
                        <div style="width: 40%; right:10%; float: right;">
                            <a style="color: #592A1D;" >동의 : <%=val.agree%> 명</a>
                        </div>
                    </div>
                <div name='4' id="feedbackBox"><%=val.contents%></div><br><br>
                <button id='agreeButton' onclick="agree(this)">동의합니다</button>
                <br><br><br><br><br><br>
                <% }) %>
                    <% list.forEach(function(val){%>
                        <div id="otherBox" style="text-align: start; padding-left: 5%; padding-top: 3%;">
                            <a style="font-size: 16px; color: #592A1D;">영양사 선생님의 답변</a><br><br>
                            <div style="font-size: 16px; color: #592A1D;"><%=val.answer%></div>
                        </div>
                    <% }) %>
            </div>
        </div>
    </body>
</html>