<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./stylesheets/monthlyStyle.css"/>
        <title>밥먹다</title>
    </head>
    <!-- <script>
        function menuclick(e){
            var children = e.childNodes;
            alert('작동'+e.getAttribute('id'));
            alert();
        // document.write('<form action="/feedback" id="smb_form" method="post"><input type="hidden" id="childData" name="childData" value="'+ childData +'"></form>');
        // document.getElementById("smb_form").submit();
      }
    </script> -->
    <body>
        <div class="up">
          <div class="top">
                <span><button id="plus_sug" onclick="location.href='/plus_sug'">건의 하기</button></span>
                <span><button id="suggestion" onclick="location.href='/main'">급식 건의</button></span>
                <span><button id="monthly" onclick="location.href='/monthly'">이달의 급식</button></span>
                <span><button id="logout" onclick="location.href='/main/logout'">LOGOUT ( <%= userEmail %> )</button></span> 
              <div id="logo"> 
                    <img src="/images/title.png" style="width: 50%; margin-left: 25%;">
                  </div>
          </div>
        </div>
        <div class="down">
            <% list.forEach(function(val){ %>
                <%date = String(val.date);%>
                <%real_date = date.substring(0,11);%>
                <span id='menuBox' style="float: left; cursor: pointer;">
                    <!-- onclick="menuclick(this)" -->
                    <a style="color: #ffffff;" id="food_id"><%=val.food_id%></a><br>
                    <a style="color: #592A1D;" id="food_etc"><%=real_date%><br><br><%=val.time%><br><br><%=val.menu%></a>
                </span>
            <% }) %>
        </div>
    </body>
</html>